:root {
  --border: 1px solid #333;
  --gap: 10px;
  --padding: 20px;
  --borderRadiusLarge: 20px;
  --borderRadiusSmall: 5px;
}
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0%;
  margin: 0%;
  font-size: 20px;
  color: #1d2b53;
  box-sizing: border-box;
}
html {
  height: 100vh;
  background-image: url("Background.jpg");
  background-size: cover;
}
body {
  padding: var(--padding);
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--gap);
  padding: var(--padding);
}
.navigateBar {
  height: 812px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: var(--borderRadiusLarge);
  border: var(--border);
  border-radius: var(--borderRadiusLarge);
  margin: var(--padding);
  background-color: #a3d8ff;
  box-shadow: 1px 10px 10px #978c8c;
  padding: var(--padding);
}
.navigateBar > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
.navigateBar > div > div {
  border-radius: var(--borderRadiusSmall);
  padding: 5px;
}
.navigateBar > div > div:hover {
  background-color: #fff000;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: var(--padding);
  gap: var(--gap);
}
#MainTable {
  height: 812px;
  overflow-y: auto;
  background-color: #a3d8ff;
  border: var(--border);
  box-shadow: 1px 10px 10px #978c8c;
  border-top-left-radius: var(--borderRadiusLarge);
  border-bottom-left-radius: var(--borderRadiusLarge);
}
.Section {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
}
.Section > h2 {
  padding: var(--borderRadiusSmall);
}
.ShortReview {
  display: flex;
  flex-direction: column;
  padding: var(--gap);
  gap: var(--gap);
}
.ShortReview > div {
  border-radius: var(--borderRadiusSmall);
  padding: 3px;
}
.ShortReview > div:hover {
  background-color: #fff000;
}
#sideTable {
  height: 812px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #a3d8ff;
  border: var(--border);
  box-shadow: 1px 10px 10px #978c8c;
  padding: var(--gap);
  border-top-right-radius: var(--borderRadiusLarge);
  border-bottom-right-radius: var(--borderRadiusLarge);
}
.TodoContent {
  display: flex;
  flex-direction: column;
  gap: var(--borderRadiusSmall);
  padding: var(--gap);
}
#sideTable > div {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--gap);
}
#sideTable > div > h2 {
  padding: var(--borderRadiusSmall);
}
#sideTable > div > p {
  padding-left: calc(var(--borderRadiusSmall) * 2);
}
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  padding: var(--padding);
}
dialog > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
